* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.flex.flex-wrap.-m-4.text-center {
  display: flex;
  position: absolute;
  left: 310px;
}
.ml-3.text-xl {
  color: #1d13e1;
}
.object-cover.object-center.rounded {
  color: #000000;
}
